:root {
  --primary-color: #d33536;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-theme-color: var(--primary-color) !important;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: var(--primary-color) !important;
}
